.circle {
	backdrop-filter: blur(35px);
}

.circle::after {
	content: "";
	position: absolute;
	left: -300px;
	top: 100px;
	background: linear-gradient(0deg, rgba(255, 1, 79, 0) 15.49%, var(--mantine-color-red-5) 100%);
	filter: blur(2px);
	border-radius: 100%;
	width: 410px;
	height: 410px;
	z-index: -1;
}